*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.navbar{
    height: 60px;
    position: sticky;

}
.flex{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}